version: "3.8"
services:
  # Backend API
  backend:
    image: ghcr.io/team-samgim/moa-backend:latest
    container_name: moa-backend
    restart: always
    ports:
      - "8080:8080"
    env_file:
      - .env
    networks:
      - app-network

volumes:
  moa_postgres_data:

networks:
  app-network:
    driver: bridge
