spring:
  application:
    name: moa-backend

  config:
    import: optional:classpath:application-secret.properties

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080